<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" action="/auth/registration">
        <h2>Регистрания</h2>
        <p>
            <label for="login"></label>
            <input type="text" id="login" name="login" placeholder="Логин" required>
        </p>
        <p>
        <label for="password"></label>
        <input type="password" id="password" name="password" placeholder="Пароль" required>
        </p>
        <p>
            <label for="email"></label>
            <input type="email" id="email" name="email" placeholder="Email" required>
        </p>
        <p>
            <label for="username"></label>
            <input type="text" id="username" name="username" placeholder="Имя" required>
        </p>
        <p>
            <label for="userpatronymic"></label>
            <input type="text" id="userpatronymic" name="userpatronymic" placeholder="Отчество" required>
        </p>
        <p>
            <label for="userfamily"></label>
            <input type="text" id="userfamily" name="userfamily" placeholder="Фамилия" required>
        </p>

        <button class="ten" type="submit">Зарегистрироваться</button>
    </form>
</div>
</body>
</html>

<style>
    body {
        padding: 30px;
        text-align: center;
        background-color: #f3f3f3;;
    }
    .ten {
        box-shadow: inset 0px -2px 4px 0px #ccc;
    }
</style>